html, body { margin: 0;
    font-family: 'Roboto', sans-serif;}


.nav_bar {
    font-weight: 500;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: white;
}

.nav_bar ul > li {
    float: right;
    display: inline-block;
    zoom:1;
    *display:inline;
    padding-right: 30px;
}

li a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

li a:hover {
    color: #F37021;
}


@media only screen and (min-width: 768px) {

    .nav_bar {
        font-weight: 500;
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: white;
    }

    .nav_bar ul > li {
        display: inline-block;
        zoom:1;
        *display:inline;
        padding-right: 30px;
    }

    li a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        transition: 0.2s;
    }

    li a:hover {
        color: #F37021;
    }

    .title p {
        color: white;
        font-weight: 300;
        font-size: 72px;
        max-width: 800px;
        padding-top: 420px;
        padding-left: 50px;
    }

    .content_header {
        padding-top: 30px;
        color: #212121;
        font-weight: bold;
        font-size: 36px;
        padding-left: 50px;
        max-width: 800px;
    }

    .regular_content {
        color: #212121;
        padding-left: 50px;
        padding-top: 40px;
        font-size: 24px;
        line-height: 48px;
        max-width:800px;
    }

    .click_me {
        padding-bottom: 20px;
        padding-top: 120px;
        padding-right: 50px;
        text-align: right;
        font-weight: 500;
        font-size: 20px;
    }

    .click_me a {
        text-decoration: none;
        color: #212121;
        transition: 0.2s;
    }

    .proj .content_header {
        padding-top: 90px;
    }
    .proj .click_me {
        padding-top: 100px;
    }

    .click_me a:hover {
        color: #F37021;
    }

    .contact .content_header {
        color: white;
    }

    .contact .regular_content {
        color: white;
    }

    .contact .click_me {
        padding-top: 30px;
    }

    .contact .content_header {
        padding-top: 100px;
    }

    .contact .click_me a {
        color: white;
        text-decoration: none;
        transition: 0.2s;
    }

    .contact .click_me a:hover {
        color: #F37021;
    }


    .more .content_header {
        font-size: 72px;
    }

    .more .regular_content {
        max-width: 500px;
    }

    .more .click_me {
        padding-top: 100px;
    }

    .kudos .content_header {
        color: white;
        font-size: 96px;
        font-weight: 300;
    }

    .kudos .regular_content {
        color: white;
        padding-top: 50px;
        font-size: 30px;
        line-height: 70px;
        max-width: 500px;
        font-weight: 300;
    }

    .kudos .content_end {
        color: white;
        padding-top: 130px;
        padding-left: 50px;
        font-size: 18px;
        font-weight: 300;
    }

    .container {
        display: grid;
        grid-template-columns: 0.4fr 2.3fr 0.8fr 0.5fr;
        grid-template-rows: 1.5fr 1fr 1fr 0.4fr 0.8fr 0.3fr 1fr 0.3fr 0.2fr 1.2fr 0.4fr 0.3fr;
        /*grid-template-columns: 1.0fr 1.6fr 0.4fr;*/
        /*grid-template-rows: 1.2fr 0.5fr 0.5fr 0.3fr 0.8fr 0.3fr 0.6fr 0.2fr 0.1fr 1.0fr 0.3fr 0.1fr;*/
        min-height: 100%;
    }

    .title {
        background-color: black;
        grid-area: 1 / 1 / 2 / 4; }

    .title_bg {
        background-color: #B2DFDB;
        background-image: url("../image/pattern1.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        grid-area: 1 / 4 / 2 / 5; }

    .bg2 {
        background-color: #C5E1A5;
        background-image: url("../image/pattern2.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
        grid-area: 2 / 1 / 5 / 5; }

    .about {
        background-color: white;
        grid-area: 2 / 2 / 3 / 3; }

    .proj {
        background-color: whitesmoke;
        grid-area: 3 / 2 / 4 / 3; }

    .contact {
        background-color: #212121;
        grid-area:5 / 1 / 6 / 5; }

    .bg3 {
        background-color: white;
        background-image: url("../image/more_bg.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        grid-area: 6 / 1 / 9 / 5; }

    .more {
        background-color: whitesmoke;
        grid-area: 7 / 2 / 8 / 3; }

    .kudos {
        background-color: #212121;
        grid-area: 10 / 2 / 11 / 3; }

    .bottom {
        background-color: black;
        grid-area: 12 / 1 / 13 / 5; }

    .kudos_bg {
        background-color: white;
        background-image: url("../image/kudos_bg.png");
        background-position: left;
        background-repeat: no-repeat;
        /*background-size: cover;*/
        background-size: 95% auto;
        grid-area: 9 / 1 / 12 / 5; }

    .flex-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }

    .flex-container img {
        padding: 10px;
        font-size: 30px;
        transition: 0.2s;
    }

}

@media only screen and (min-width: 1440px) {

    .nav_bar {
        font-weight: 500;
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: white;
    }

    .nav_bar ul > li {
        display: inline-block;
        zoom:1;
        *display:inline;
        padding-right: 30px;
    }

    li a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        transition: 0.2s;
    }

    li a:hover {
        color: #F37021;
    }

    .title p {
        color: white;
        font-weight: 300;
        font-size: 72px;
        max-width: 800px;
        padding-top: 420px;
        padding-left: 50px;
    }

    .content_header {
        padding-top: 30px;
        color: #212121;
        font-weight: bold;
        font-size: 36px;
        padding-left: 50px;
        max-width: 800px;
    }

    .regular_content {
        color: #212121;
        padding-left: 50px;
        padding-top: 20px;
        font-size: 24px;
        line-height: 48px;
        max-width:800px;
    }

    .click_me {
        padding-bottom: 20px;
        padding-top: 120px;
        padding-right: 50px;
        text-align: right;
        font-weight: 500;
        font-size: 20px;
    }

    .click_me a {
        text-decoration: none;
        color: #212121;
        transition: 0.2s;
    }

    .proj .content_header {
        padding-top: 90px;
    }
    .proj .click_me {
        padding-top: 150px;
    }

    .click_me a:hover {
        color: #F37021;
    }

    .contact .content_header {
        color: white;
    }

    .contact .regular_content {
        color: white;
    }

    .contact .click_me {
        padding-top: 30px;
    }

    .contact .content_header {
        padding-top: 100px;
    }

    .contact .click_me a {
        color: white;
        text-decoration: none;
        transition: 0.2s;
    }

    .contact .click_me a:hover {
        color: #F37021;
    }


    .more .content_header {
        font-size: 72px;
    }

    .more .regular_content {
        max-width: 700px;
    }

    .more .click_me {
        padding-top: 100px;
    }

    .kudos .content_header {
        color: white;
        font-size: 96px;
        font-weight: 300;
    }

    .kudos .regular_content {
        color: white;
        padding-top: 50px;
        font-size: 40px;
        line-height: 70px;
        font-weight: 300;
    }

    .kudos .content_end {
        color: white;
        padding-top: 80px;
        padding-left: 50px;
        font-size: 24px;
        font-weight: 300;
    }

    .container {
        display: grid;
        grid-template-columns: 0.4fr 2.3fr 0.8fr 0.5fr;
        grid-template-rows: 2.0fr 1fr 1fr 0.4fr 0.8fr 0.3fr 1fr 0.3fr 0.2fr 1.2fr 0.5fr 0.3fr;
        min-height: 100%;
    }

    .title {
        background-color: black;
        grid-area: 1 / 1 / 2 / 4; }

    .title_bg {
        background-color: #B2DFDB;
        background-image: url("../image/pattern1.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        grid-area: 1 / 4 / 2 / 5; }

    .bg2 {
        background-color: #C5E1A5;
        background-image: url("../image/pattern2.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
        grid-area: 2 / 1 / 5 / 5; }

    .about {
        background-color: white;
        grid-area: 2 / 2 / 3 / 3; }

    .proj {
        background-color: whitesmoke;
        grid-area: 3 / 2 / 4 / 3; }

    .contact {
        background-color: #212121;
        grid-area:5 / 1 / 6 / 5; }

    .bg3 {
        background-color: white;
        background-image: url("../image/more_bg.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        grid-area: 6 / 1 / 9 / 5; }

    .more {
        background-color: whitesmoke;
        grid-area: 7 / 2 / 8 / 3; }

    .kudos {
        background-color: #212121;
        grid-area: 10 / 2 / 11 / 3; }

    .bottom {
        background-color: black;
        grid-area: 12 / 1 / 13 / 5; }

    .kudos_bg {
        background-color: white;
        background-image: url("../image/kudos_bg.png");
        background-position: left;
        background-repeat: no-repeat;
        /*background-size: cover;*/
        background-size: 95% auto;
        grid-area: 9 / 1 / 12 / 5; }

    .flex-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }

    .flex-container img {
        padding: 10px;
        font-size: 30px;
        transition: 0.2s;
    }

}


@media only screen and (max-width: 768px) {

    .nav_bar {
        font-weight: 500;
        position: fixed;
        width: 100%;
        height: 50px;
        background-color: white;
    }

    .nav_bar ul > li {
        display: inline-block;
        zoom:1;
        *display:inline;
        padding-right: 30px;
    }

    li a {
        text-decoration: none;
        color: black;
        font-size: 12px;
        transition: 0.2s;
    }

    li a:hover {
        color: #F37021;
    }

    .title p {
        color: white;
        font-weight: 300;
        font-size: 46px;
        max-width: 560px;
        padding-top: 220px;
        padding-left: 25px;
    }

    .content_header {
        padding-top: 30px;
        color: #212121;
        font-weight: bold;
        font-size: 26px;
        padding-left: 25px;
        max-width: 400px;
    }

    .regular_content {
        color: #212121;
        padding-left: 25px;
        padding-top: 20px;
        font-size: 14px;
        line-height: 36px;
        max-width:400px;
    }

    .click_me {
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 25px;
        text-align: right;
        font-weight: 500;
        font-size: 12px;
    }

    .click_me a {
        text-decoration: none;
        color: #212121;
        transition: 0.2s;
    }

    .click_me a:hover {
        color: #F37021;
    }

    .contact .content_header {
        color: white;
    }

    .contact .regular_content {
        color: white;
    }

    .contact .click_me {
        padding-top: 50px;
    }

    .contact .click_me a {
        color: white;
        text-decoration: none;
        transition: 0.2s;
    }

    .contact .click_me a:hover {
        color: #F37021;
    }


    .more .content_header {
        font-size: 64px;
    }

    .more .regular_content {
        max-width: 400px;
    }

    .more .click_me {
        padding-top: 50px;
    }

    .kudos .content_header {
        color: white;
        font-size: 64px;
        font-weight: 300;
    }

    .kudos .regular_content {
        color: white;
        padding-top: 50px;
        font-size: 20px;
        line-height: 40px;
        font-weight: 300;
    }

    .kudos .content_end {
        color: white;
        padding-top: 50px;
        padding-bottom: 20px;
        padding-left: 25px;
        font-size: 12px;
        font-weight: 300;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1.6fr 0.4fr;
        grid-template-rows: 1.0fr 0.3fr 0.3fr 0.3fr 0.5fr 0.2fr 0.6fr 0.2fr 0.1fr 0.1fr 0.3fr 0.1fr;
        min-height: 100%;
    }

    .title {
        background-color: black;
        grid-area: 1 / 1 / 2 / 3; }

    .title_bg {
        background-color: #B2DFDB;
        background-image: url("../image/pattern1.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        grid-area: 1 / 3 / 2 / 4; }

    .bg2 {
        background-color: #C5E1A5;
        background-image: url("../image/pattern2.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
        grid-area: 2 / 1 / 5 / 4; }

    .about {
        background-color: white;
        grid-area: 2 / 1 / 3 / 3; }


    .proj {
        background-color: whitesmoke;
        grid-area: 3 / 1 / 4 / 3; }

    .contact {
        background-color: #212121;
        grid-area:5 / 1 / 6 / 4; }

    .bg3 {
        background-color: white;
        background-image: url("../image/more_bg.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        grid-area: 6 / 1 / 9 / 4; }

    .more {
        background-color: whitesmoke;
        grid-area: 7 / 1 / 8 / 3; }

    .kudos {
        background-color: #212121;
        grid-area: 10 / 1 / 11 / 3; }

    .bottom {
        background-color: black;
        grid-area: 12 / 1 / 13 / 4; }

    .kudos_bg {
        background-color: white;
        background-image: url("../image/kudos_bg.png");
        background-position: left;
        background-repeat: no-repeat;
        /*background-size: cover;*/
        background-size: 95% auto;
        grid-area: 9 / 1 / 12 / 4; }

    .flex-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }

    .flex-container img {
        padding: 10px;
        font-size: 30px;
        transition: 0.2s;
    }

}

@media only screen and (max-width: 425px) {

    .nav_bar {
        font-weight: 500;
        position: fixed;
        width: 100%;
        height: 50px;
        background-color: white;
    }

    .nav_bar ul > li {
        display: inline-block;
        zoom:1;
        *display:inline;
        padding-right: 30px;
    }

    li a {
        text-decoration: none;
        color: black;
        font-size: 12px;
        transition: 0.2s;
    }

    li a:hover {
        color: #F37021;
    }

    .title p {
        color: white;
        font-weight: 300;
        font-size: 46px;
        max-width: 280px;
        padding-top: 300px;
        padding-left: 25px;
    }

    .content_header {
        padding-top: 30px;
        color: #212121;
        font-weight: bold;
        font-size: 22px;
        padding-left: 25px;
        max-width: 290px;
        word-break: break-all;
    }

    .regular_content {
        color: #212121;
        padding-left: 25px;
        padding-top: 20px;
        font-size: 12px;
        line-height: 36px;
        max-width:300px;
        word-break: break-all;
    }

    .click_me {
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 25px;
        text-align: right;
        font-weight: 500;
        font-size: 12px;
    }

    .click_me a {
        text-decoration: none;
        color: #212121;
        transition: 0.2s;
    }

    .click_me a:hover {
        color: #F37021;
    }

    .contact .content_header {
        color: white;
    }

    .contact .regular_content {
        color: white;
    }

    .contact .click_me {
        padding-top: 50px;
    }

    .contact .click_me a {
        color: white;
        text-decoration: none;
        transition: 0.2s;
    }

    .contact .click_me a:hover {
        color: #F37021;
    }


    .more .content_header {
        font-size: 64px;
    }

    .more .regular_content {
        max-width: 300px;
    }

    .more .click_me {
        padding-top: 50px;
    }

    .kudos .content_header {
        color: white;
        font-size: 64px;
        font-weight: 300;
    }

    .kudos .regular_content {
        color: white;
        padding-top: 50px;
        font-size: 20px;
        line-height: 40px;
        font-weight: 300;
    }

    .kudos .content_end {
        color: white;
        padding-top: 50px;
        padding-bottom: 20px;
        padding-left: 25px;
        font-size: 12px;
        font-weight: 300;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1.6fr 0.4fr;
        grid-template-rows: 1.0fr 0.3fr 0.3fr 0.3fr 0.5fr 0.2fr 0.6fr 0.2fr 0.1fr 0.1fr 0.3fr 0.1fr;
        min-height: 100%;
    }

    .title {
        background-color: black;
        grid-area: 1 / 1 / 2 / 3; }

    .title_bg {
        background-color: #B2DFDB;
        background-image: url("../image/pattern1.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        grid-area: 1 / 3 / 2 / 4; }

    .bg2 {
        background-color: #C5E1A5;
        background-image: url("../image/pattern2.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
        grid-area: 2 / 1 / 5 / 4; }

    .about {
        background-color: white;
        grid-area: 2 / 1 / 3 / 3; }


    .proj {
        background-color: whitesmoke;
        grid-area: 3 / 1 / 4 / 3; }

    .contact {
        background-color: #212121;
        grid-area:5 / 1 / 6 / 4; }

    .bg3 {
        background-color: white;
        background-image: url("../image/more_bg.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        grid-area: 6 / 1 / 9 / 4; }

    .more {
        background-color: whitesmoke;
        grid-area: 7 / 1 / 8 / 3; }

    .kudos {
        background-color: #212121;
        grid-area: 10 / 1 / 11 / 3; }

    .bottom {
        background-color: black;
        grid-area: 12 / 1 / 13 / 4; }

    .kudos_bg {
        background-color: white;
        background-image: url("../image/kudos_bg.png");
        background-position: left;
        background-repeat: no-repeat;
        /*background-size: cover;*/
        background-size: 95% auto;
        grid-area: 9 / 1 / 12 / 4; }

    .flex-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }

    .flex-container img {
        padding: 10px;
        font-size: 30px;
        transition: 0.2s;
    }

}

.bottom p{
    color:white;
    text-align: center;
}

.bottom img:hover {
    opacity: 0.5;
}